<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>808</integer>
	<key>capHeight</key>
	<integer>740</integer>
	<key>descender</key>
	<integer>-220</integer>
	<key>familyName</key>
	<string>Encode_Exp_Lt</string>
	<key>openTypeHeadCreated</key>
	<string>2016/12/09 00:09:38</string>
	<key>openTypeNamePreferredFamilyName</key>
	<string>Encode_Exp_Lt</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string></string>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>postscriptBlueValues</key>
	<array>
	</array>
	<key>postscriptFontName</key>
	<string>Encode_Exp_Lt-</string>
	<key>postscriptOtherBlues</key>
	<array>
	</array>
	<key>styleMapFamilyName</key>
	<string>Encode_Exp_Lt</string>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string></string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>0</integer>
	<key>xHeight</key>
	<integer>540</integer>
</dict>
</plist>
