<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.superpolator.editor.generateInfo</key>
	<string>Generated with LTR Superpolator version 131028_2106_developer_</string>
	<key>com.typemytype.robofont.foreground.layerStrokeColor</key>
	<array>
		<real>0.5</real>
		<real>0.0</real>
		<real>0.5</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.layerOrder</key>
	<array>
	</array>
	<key>com.typemytype.robofont.segmentType</key>
	<string>curve</string>
	<key>com.typemytype.robofont.sort</key>
	<array>
		<dict>
			<key>allowPseudoUnicode</key>
			<true/>
			<key>type</key>
			<string>cannedDesign</string>
		</dict>
	</array>
	<key>com.typesupply.MetricsMachine4.groupColors</key>
	<dict>
		<key>@MMK_L_KERN_A</key>
		<array>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_KERN_A.sc</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_KERN_B.sc_1ST</key>
		<array>
			<real>0.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_KERN_C.sc_1ST</key>
		<array>
			<real>0.5</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_KERN_C_1ST</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_KERN_D.sc_1ST</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.5</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_KERN_D_1ST</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_KERN_E.sc_1ST</key>
		<array>
			<real>1.0</real>
			<real>0.5</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_KERN_E_1ST</key>
		<array>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_KERN_F.sc_1ST</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_KERN_G.sc_1ST</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_KERN_G_1ST</key>
		<array>
			<real>0.0</real>
			<real>0.5</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_KERN_I.sc_1ST</key>
		<array>
			<real>0.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_KERN_I_1ST</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_KERN_J.sc_1ST</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_KERN_J_1ST</key>
		<array>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_KERN_K.sc_1ST</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_KERN_K_1ST</key>
		<array>
			<real>0.0</real>
			<real>0.5</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_KERN_L.sc_1ST</key>
		<array>
			<real>0.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_KERN_L_1ST</key>
		<array>
			<real>0.5</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_KERN_O.sc_1ST</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_KERN_O_1ST</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_KERN_R.sc_1ST</key>
		<array>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_KERN_R_1ST</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_KERN_S</key>
		<array>
			<real>0.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_KERN_S.sc</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_KERN_T</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_KERN_T.sc_1ST</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_KERN_U</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_KERN_U.sc</key>
		<array>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_KERN_W</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_KERN_W.sc</key>
		<array>
			<real>0.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_KERN_Y</key>
		<array>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_KERN_Y.sc</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_KERN_Z.sc</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_KERN_Z_1ST</key>
		<array>
			<real>0.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_KERN_a_1ST</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_KERN_b_1ST</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_KERN_c_1ST</key>
		<array>
			<real>1.0</real>
			<real>0.5</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_KERN_colon</key>
		<array>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_KERN_d_1ST</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_KERN_e_1ST</key>
		<array>
			<real>0.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_KERN_f_1ST</key>
		<array>
			<real>0.5</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_KERN_g</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.5</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_KERN_guilsinglleft</key>
		<array>
			<real>1.0</real>
			<real>0.5</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_KERN_guilsinglright</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_KERN_hyphen</key>
		<array>
			<real>0.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_KERN_i_1ST</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_KERN_j_1ST</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_KERN_k_1ST</key>
		<array>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_KERN_l_1ST</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_KERN_n_1ST</key>
		<array>
			<real>0.0</real>
			<real>0.5</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_KERN_o_1ST</key>
		<array>
			<real>0.5</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_KERN_period_1ST</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.5</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_KERN_quoteleft</key>
		<array>
			<real>1.0</real>
			<real>0.5</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_KERN_quoteright</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_KERN_quotesingle</key>
		<array>
			<real>0.0</real>
			<real>0.5</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_KERN_r_1ST</key>
		<array>
			<real>0.5</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_KERN_s</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_KERN_t_1ST</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_KERN_u</key>
		<array>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_KERN_w</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_KERN_y</key>
		<array>
			<real>0.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_KERN_z_1ST</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_KERN_A</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_KERN_A.sc</key>
		<array>
			<real>1.0</real>
			<real>0.5</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_KERN_AE.sc_2ND</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_KERN_AE_2ND</key>
		<array>
			<real>0.0</real>
			<real>0.5</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_KERN_I.sc_2ND</key>
		<array>
			<real>0.5</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_KERN_I_2ND</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.5</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_KERN_J.sc_2ND</key>
		<array>
			<real>1.0</real>
			<real>0.5</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_KERN_J_2ND</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_KERN_O.sc_2ND</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.5</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_KERN_O_2ND</key>
		<array>
			<real>1.0</real>
			<real>0.5</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_KERN_S</key>
		<array>
			<real>0.5</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_KERN_S.sc</key>
		<array>
			<real>0.0</real>
			<real>0.5</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_KERN_T</key>
		<array>
			<real>1.0</real>
			<real>0.5</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_KERN_T.sc_2ND</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.5</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_KERN_U</key>
		<array>
			<real>0.0</real>
			<real>0.5</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_KERN_U.sc</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_KERN_W</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.5</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_KERN_W.sc</key>
		<array>
			<real>0.5</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_KERN_Y</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_KERN_Y.sc</key>
		<array>
			<real>1.0</real>
			<real>0.5</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_KERN_Z.sc</key>
		<array>
			<real>0.0</real>
			<real>0.5</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_KERN_Z_2ND</key>
		<array>
			<real>0.5</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_KERN_a_2ND</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.5</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_KERN_colon</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_KERN_d_2ND</key>
		<array>
			<real>0.0</real>
			<real>0.5</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_KERN_f_2ND</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_KERN_g</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_KERN_guilsinglleft</key>
		<array>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_KERN_guilsinglright</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_KERN_h_2ND</key>
		<array>
			<real>0.0</real>
			<real>0.5</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_KERN_hyphen</key>
		<array>
			<real>0.5</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_KERN_i_2ND</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.5</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_KERN_j_2ND</key>
		<array>
			<real>1.0</real>
			<real>0.5</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_KERN_l_2ND</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_KERN_n_2ND</key>
		<array>
			<real>0.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_KERN_o_2ND</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_KERN_period_2ND</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_KERN_quoteleft</key>
		<array>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_KERN_quoteright</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_KERN_quotesingle</key>
		<array>
			<real>0.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_KERN_s</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.5</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_KERN_t_2ND</key>
		<array>
			<real>1.0</real>
			<real>0.5</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_KERN_u</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_KERN_w</key>
		<array>
			<real>0.0</real>
			<real>0.5</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_KERN_y</key>
		<array>
			<real>0.5</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_KERN_z_2ND</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.5</real>
			<real>0.25</real>
		</array>
		<key>c2sc1</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>c2sc2</key>
		<array>
			<real>1.0</real>
			<real>0.5</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>lnum1</key>
		<array>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>onum1</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>onum2</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>pnum1</key>
		<array>
			<real>0.0</real>
			<real>0.5</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>pnum2</key>
		<array>
			<real>0.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>smcp1</key>
		<array>
			<real>0.5</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>smcp2</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>subs1</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.5</real>
			<real>0.25</real>
		</array>
	</dict>
	<key>public.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>A</string>
		<string>A.sc</string>
		<string>AE</string>
		<string>AE.sc</string>
		<string>AEacute</string>
		<string>acute.cap</string>
		<string>AEacute.sc</string>
		<string>Aacute</string>
		<string>Aacute.sc</string>
		<string>Abreve</string>
		<string>breve.cap</string>
		<string>Abreve.sc</string>
		<string>Acircumflex</string>
		<string>circumflex.cap</string>
		<string>Acircumflex.sc</string>
		<string>Adblgrave</string>
		<string>uni030F.cap</string>
		<string>Adblgrave.sc</string>
		<string>Adieresis</string>
		<string>dieresis.cap</string>
		<string>Adieresis.sc</string>
		<string>Agrave</string>
		<string>grave.cap</string>
		<string>Agrave.sc</string>
		<string>Ainvertedbreve</string>
		<string>uni0311.cap</string>
		<string>Ainvertedbreve.sc</string>
		<string>Amacron</string>
		<string>macron.cap</string>
		<string>Amacron.sc</string>
		<string>Aogonek</string>
		<string>ogonek</string>
		<string>Aogonek.sc</string>
		<string>Aring</string>
		<string>ring.cap</string>
		<string>Aring.sc</string>
		<string>Aringacute</string>
		<string>Aringacute.sc</string>
		<string>Atilde</string>
		<string>tilde.cap</string>
		<string>Atilde.sc</string>
		<string>B</string>
		<string>B.sc</string>
		<string>C</string>
		<string>C.sc</string>
		<string>CR</string>
		<string>Cacute</string>
		<string>Cacute.sc</string>
		<string>Ccaron</string>
		<string>caron.cap</string>
		<string>Ccaron.sc</string>
		<string>Ccedilla</string>
		<string>cedilla</string>
		<string>Ccedilla.sc</string>
		<string>Ccircumflex</string>
		<string>Ccircumflex.sc</string>
		<string>Cdotaccent</string>
		<string>dotaccent.cap</string>
		<string>Cdotaccent.sc</string>
		<string>D</string>
		<string>D.sc</string>
		<string>Dcaron</string>
		<string>Dcaron.sc</string>
		<string>Dcroat</string>
		<string>Dcroat.sc</string>
		<string>Ddotbelow</string>
		<string>dotbelow</string>
		<string>Ddotbelow.sc</string>
		<string>Delta</string>
		<string>E</string>
		<string>E.sc</string>
		<string>Eacute</string>
		<string>Eacute.sc</string>
		<string>Ebreve</string>
		<string>Ebreve.sc</string>
		<string>Ecaron</string>
		<string>Ecaron.sc</string>
		<string>Ecircumflex</string>
		<string>Ecircumflex.sc</string>
		<string>Edblgrave</string>
		<string>Edblgrave.sc</string>
		<string>Edieresis</string>
		<string>Edieresis.sc</string>
		<string>Edotaccent</string>
		<string>Edotaccent.sc</string>
		<string>Edotbelow</string>
		<string>Edotbelow.sc</string>
		<string>Egrave</string>
		<string>Egrave.sc</string>
		<string>Einvertedbreve</string>
		<string>Einvertedbreve.sc</string>
		<string>Emacron</string>
		<string>Emacron.sc</string>
		<string>Eng</string>
		<string>Eng.sc</string>
		<string>Eogonek</string>
		<string>Eogonek.sc</string>
		<string>Eth</string>
		<string>Eth.sc</string>
		<string>Etilde</string>
		<string>Etilde.sc</string>
		<string>Euro</string>
		<string>Euro.tab</string>
		<string>F</string>
		<string>F.sc</string>
		<string>F_B.sc</string>
		<string>F_F.sc</string>
		<string>F_F_B.sc</string>
		<string>F_F_H.sc</string>
		<string>H.sc</string>
		<string>F_F_I.sc</string>
		<string>I.sc</string>
		<string>F_F_J.sc</string>
		<string>J.sc</string>
		<string>F_F_K.sc</string>
		<string>K.sc</string>
		<string>F_F_L.sc</string>
		<string>L.sc</string>
		<string>F_F_T.sc</string>
		<string>T.sc</string>
		<string>F_H.sc</string>
		<string>F_I.sc</string>
		<string>F_J.sc</string>
		<string>F_K.sc</string>
		<string>F_L.sc</string>
		<string>F_T.sc</string>
		<string>G</string>
		<string>G.sc</string>
		<string>Gacute</string>
		<string>Gacute.sc</string>
		<string>Gbreve</string>
		<string>Gbreve.sc</string>
		<string>Gcircumflex</string>
		<string>Gcircumflex.sc</string>
		<string>Gcommaaccent</string>
		<string>commaaccent</string>
		<string>Gcommaaccent.sc</string>
		<string>Gdotaccent</string>
		<string>Gdotaccent.sc</string>
		<string>H</string>
		<string>Hbar</string>
		<string>Hbar.sc</string>
		<string>Hcircumflex</string>
		<string>Hcircumflex.sc</string>
		<string>Hdotbelow</string>
		<string>Hdotbelow.sc</string>
		<string>I</string>
		<string>IJ</string>
		<string>J</string>
		<string>Iacute</string>
		<string>Iacute.sc</string>
		<string>Ibreve</string>
		<string>Ibreve.sc</string>
		<string>Icircumflex</string>
		<string>Icircumflex.sc</string>
		<string>Idblgrave</string>
		<string>Idblgrave.sc</string>
		<string>Idieresis</string>
		<string>Idieresis.sc</string>
		<string>Idotaccent</string>
		<string>Idotaccent.sc</string>
		<string>Idotbelow</string>
		<string>Idotbelow.sc</string>
		<string>Igrave</string>
		<string>Igrave.sc</string>
		<string>Iinvertedbreve</string>
		<string>Iinvertedbreve.sc</string>
		<string>Imacron</string>
		<string>Imacron.sc</string>
		<string>Iogonek</string>
		<string>Iogonek.sc</string>
		<string>Itilde</string>
		<string>Itilde.sc</string>
		<string>Jcircumflex</string>
		<string>Jcircumflex.sc</string>
		<string>K</string>
		<string>Kcommaaccent</string>
		<string>Kcommaaccent.sc</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lacute.sc</string>
		<string>Lcaron</string>
		<string>caron.alt</string>
		<string>Lcaron.sc</string>
		<string>Lcommaaccent</string>
		<string>Lcommaaccent.sc</string>
		<string>Ldot</string>
		<string>periodcentered</string>
		<string>Ldot.sc</string>
		<string>Lslash</string>
		<string>Lslash.sc</string>
		<string>M</string>
		<string>M.sc</string>
		<string>N</string>
		<string>N.sc</string>
		<string>NULL</string>
		<string>Nacute</string>
		<string>Nacute.sc</string>
		<string>Ncaron</string>
		<string>Ncaron.sc</string>
		<string>Ncommaaccent</string>
		<string>Ncommaaccent.sc</string>
		<string>Ndotaccent</string>
		<string>Ndotaccent.sc</string>
		<string>Ntilde</string>
		<string>Ntilde.sc</string>
		<string>O</string>
		<string>O.sc</string>
		<string>OE</string>
		<string>OE.sc</string>
		<string>Oacute</string>
		<string>Oacute.sc</string>
		<string>Obreve</string>
		<string>Obreve.sc</string>
		<string>Ocircumflex</string>
		<string>Ocircumflex.sc</string>
		<string>Odblgrave</string>
		<string>Odblgrave.sc</string>
		<string>Odieresis</string>
		<string>Odieresis.sc</string>
		<string>Odotbelow</string>
		<string>Odotbelow.sc</string>
		<string>Ograve</string>
		<string>Ograve.sc</string>
		<string>Ohungarumlaut</string>
		<string>hungarumlaut.cap</string>
		<string>Ohungarumlaut.sc</string>
		<string>Oinvertedbreve</string>
		<string>Oinvertedbreve.sc</string>
		<string>Omacron</string>
		<string>Omacron.sc</string>
		<string>Omega</string>
		<string>Oogonek</string>
		<string>Oogonek.sc</string>
		<string>Oslash</string>
		<string>Oslash.sc</string>
		<string>Oslashacute</string>
		<string>Oslashacute.sc</string>
		<string>Otilde</string>
		<string>Otilde.sc</string>
		<string>P</string>
		<string>P.sc</string>
		<string>Q</string>
		<string>Q.sc</string>
		<string>R</string>
		<string>R.sc</string>
		<string>Racute</string>
		<string>Racute.sc</string>
		<string>Rcaron</string>
		<string>Rcaron.sc</string>
		<string>Rcommaaccent</string>
		<string>Rcommaaccent.sc</string>
		<string>Rdblgrave</string>
		<string>Rdblgrave.sc</string>
		<string>Rdotbelow</string>
		<string>Rdotbelow.sc</string>
		<string>Rinvertedbreve</string>
		<string>Rinvertedbreve.sc</string>
		<string>S</string>
		<string>S.sc</string>
		<string>Sacute</string>
		<string>Sacute.sc</string>
		<string>Scaron</string>
		<string>Scaron.sc</string>
		<string>Schwa</string>
		<string>Schwa.sc</string>
		<string>Scircumflex</string>
		<string>Scircumflex.sc</string>
		<string>Sdotbelow</string>
		<string>Sdotbelow.sc</string>
		<string>T</string>
		<string>Tbar</string>
		<string>Tbar.sc</string>
		<string>Tcaron</string>
		<string>Tcaron.sc</string>
		<string>Tdotbelow</string>
		<string>Tdotbelow.sc</string>
		<string>Thorn</string>
		<string>Thorn.sc</string>
		<string>U</string>
		<string>U.sc</string>
		<string>Uacute</string>
		<string>Uacute.sc</string>
		<string>Ubreve</string>
		<string>Ubreve.sc</string>
		<string>Ucircumflex</string>
		<string>Ucircumflex.sc</string>
		<string>Udblgrave</string>
		<string>Udblgrave.sc</string>
		<string>Udieresis</string>
		<string>Udieresis.sc</string>
		<string>Udotbelow</string>
		<string>Udotbelow.sc</string>
		<string>Ugrave</string>
		<string>Ugrave.sc</string>
		<string>Uhungarumlaut</string>
		<string>Uhungarumlaut.sc</string>
		<string>Uinvertedbreve</string>
		<string>Uinvertedbreve.sc</string>
		<string>Umacron</string>
		<string>Umacron.sc</string>
		<string>Uogonek</string>
		<string>Uogonek.sc</string>
		<string>Uring</string>
		<string>Uring.sc</string>
		<string>Utilde</string>
		<string>Utilde.sc</string>
		<string>V</string>
		<string>V.sc</string>
		<string>W</string>
		<string>W.sc</string>
		<string>Wacute</string>
		<string>Wacute.sc</string>
		<string>Wcircumflex</string>
		<string>Wcircumflex.sc</string>
		<string>Wdieresis</string>
		<string>Wdieresis.sc</string>
		<string>Wgrave</string>
		<string>Wgrave.sc</string>
		<string>X</string>
		<string>X.sc</string>
		<string>Y</string>
		<string>Y.sc</string>
		<string>Yacute</string>
		<string>Yacute.sc</string>
		<string>Ycircumflex</string>
		<string>Ycircumflex.sc</string>
		<string>Ydieresis</string>
		<string>Ydieresis.sc</string>
		<string>Ygrave</string>
		<string>Ygrave.sc</string>
		<string>Ytilde</string>
		<string>Ytilde.sc</string>
		<string>Z</string>
		<string>Z.sc</string>
		<string>Zacute</string>
		<string>Zacute.sc</string>
		<string>Zcaron</string>
		<string>Zcaron.sc</string>
		<string>Zdotaccent</string>
		<string>Zdotaccent.sc</string>
		<string>Zdotbelow</string>
		<string>Zdotbelow.sc</string>
		<string>a</string>
		<string>aacute</string>
		<string>acute</string>
		<string>abreve</string>
		<string>breve</string>
		<string>acircumflex</string>
		<string>circumflex</string>
		<string>adblgrave</string>
		<string>uni030F</string>
		<string>adieresis</string>
		<string>dieresis</string>
		<string>ae</string>
		<string>aeacute</string>
		<string>agrave</string>
		<string>grave</string>
		<string>ainvertedbreve</string>
		<string>uni0311</string>
		<string>amacron</string>
		<string>macron</string>
		<string>ampersand</string>
		<string>ampersand.sc</string>
		<string>aogonek</string>
		<string>apostrophe</string>
		<string>approxequal</string>
		<string>aring</string>
		<string>ring</string>
		<string>aringacute</string>
		<string>arrowdown</string>
		<string>arrowleft</string>
		<string>arrowright</string>
		<string>arrowup</string>
		<string>asciicircum</string>
		<string>asciitilde</string>
		<string>asterisk</string>
		<string>at</string>
		<string>atilde</string>
		<string>tilde</string>
		<string>b</string>
		<string>backslash</string>
		<string>bar</string>
		<string>bar.tab</string>
		<string>braceleft</string>
		<string>braceleft.sc</string>
		<string>braceright</string>
		<string>braceright.sc</string>
		<string>bracketleft</string>
		<string>bracketleft.sc</string>
		<string>bracketright</string>
		<string>bracketright.sc</string>
		<string>brokenbar</string>
		<string>bullet</string>
		<string>c</string>
		<string>cacute</string>
		<string>caron</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>dotaccent</string>
		<string>cent</string>
		<string>cent.tab</string>
		<string>colon</string>
		<string>period</string>
		<string>colon.tab</string>
		<string>colonmonetary</string>
		<string>comma</string>
		<string>comma.tab</string>
		<string>copyright</string>
		<string>currency</string>
		<string>currency.ss01</string>
		<string>d</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>ddotbelow</string>
		<string>degree</string>
		<string>degree.tab</string>
		<string>divide</string>
		<string>divide.tab</string>
		<string>dollar</string>
		<string>dollar.tab</string>
		<string>dotlessi</string>
		<string>dotlessj</string>
		<string>e</string>
		<string>eacute</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edblgrave</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>edotbelow</string>
		<string>egrave</string>
		<string>eight</string>
		<string>eight.denominator</string>
		<string>eight.numerator</string>
		<string>eight.osf</string>
		<string>eight.tf</string>
		<string>eight.tosf</string>
		<string>eightinferior</string>
		<string>eightsuperior</string>
		<string>einvertedbreve</string>
		<string>ellipsis</string>
		<string>emacron</string>
		<string>emdash</string>
		<string>endash</string>
		<string>eng</string>
		<string>eogonek</string>
		<string>equal</string>
		<string>equal.tab</string>
		<string>estimated</string>
		<string>eth</string>
		<string>etilde</string>
		<string>exclam</string>
		<string>exclamdown</string>
		<string>f</string>
		<string>f.calt</string>
		<string>f_b</string>
		<string>f_f</string>
		<string>f_f_b</string>
		<string>f_f_h</string>
		<string>h</string>
		<string>f_f_i</string>
		<string>i</string>
		<string>f_f_j</string>
		<string>j</string>
		<string>f_f_k</string>
		<string>k</string>
		<string>f_f_l</string>
		<string>l</string>
		<string>f_f_t</string>
		<string>t</string>
		<string>f_h</string>
		<string>f_i</string>
		<string>f_j</string>
		<string>f_k</string>
		<string>f_l</string>
		<string>f_t</string>
		<string>five</string>
		<string>five.denominator</string>
		<string>five.numerator</string>
		<string>five.osf</string>
		<string>five.tf</string>
		<string>five.tosf</string>
		<string>fiveeighths</string>
		<string>fraction</string>
		<string>fiveinferior</string>
		<string>fivesuperior</string>
		<string>florin</string>
		<string>four</string>
		<string>four.denominator</string>
		<string>four.numerator</string>
		<string>four.osf</string>
		<string>four.tf</string>
		<string>four.tosf</string>
		<string>fourinferior</string>
		<string>foursuperior</string>
		<string>franc</string>
		<string>g</string>
		<string>gacute</string>
		<string>gbreve</string>
		<string>gcircumflex</string>
		<string>gcommaaccent</string>
		<string>gdotaccent</string>
		<string>germandbls</string>
		<string>germandbls.sc</string>
		<string>greater</string>
		<string>greater.tab</string>
		<string>greaterequal</string>
		<string>guillemotleft</string>
		<string>guilsinglleft</string>
		<string>guillemotright</string>
		<string>guilsinglright</string>
		<string>hbar</string>
		<string>hcircumflex</string>
		<string>hdotbelow</string>
		<string>hungarumlaut</string>
		<string>hyphen</string>
		<string>iacute</string>
		<string>ibreve</string>
		<string>icircumflex</string>
		<string>idblgrave</string>
		<string>idieresis</string>
		<string>idotbelow</string>
		<string>igrave</string>
		<string>iinvertedbreve</string>
		<string>ij</string>
		<string>imacron</string>
		<string>infinity</string>
		<string>integral</string>
		<string>iogonek</string>
		<string>itilde</string>
		<string>jcircumflex</string>
		<string>kcommaaccent</string>
		<string>kgreenlandic</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>lcommaaccent</string>
		<string>ldot</string>
		<string>less</string>
		<string>less.tab</string>
		<string>lessequal</string>
		<string>lira</string>
		<string>logicalnot</string>
		<string>lozenge</string>
		<string>lslash</string>
		<string>m</string>
		<string>minus</string>
		<string>minus.tab</string>
		<string>mu</string>
		<string>multiply</string>
		<string>multiply.tab</string>
		<string>n</string>
		<string>nacute</string>
		<string>napostrophe</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>ndotaccent</string>
		<string>nine</string>
		<string>six</string>
		<string>nine.denominator</string>
		<string>nine.numerator</string>
		<string>nine.osf</string>
		<string>six.osf</string>
		<string>nine.tf</string>
		<string>nine.tosf</string>
		<string>nineinferior</string>
		<string>ninesuperior</string>
		<string>notequal</string>
		<string>ntilde</string>
		<string>numbersign</string>
		<string>numbersign.tab</string>
		<string>o</string>
		<string>oacute</string>
		<string>obreve</string>
		<string>ocircumflex</string>
		<string>odblgrave</string>
		<string>odieresis</string>
		<string>odotbelow</string>
		<string>oe</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>oinvertedbreve</string>
		<string>omacron</string>
		<string>one</string>
		<string>one.denominator</string>
		<string>one.numerator</string>
		<string>one.osf</string>
		<string>one.tf</string>
		<string>one.tosf</string>
		<string>oneeighth</string>
		<string>onehalf</string>
		<string>two.denominator</string>
		<string>oneinferior</string>
		<string>onequarter</string>
		<string>onesuperior</string>
		<string>onethird</string>
		<string>three.denominator</string>
		<string>oogonek</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>oslash</string>
		<string>oslashacute</string>
		<string>otilde</string>
		<string>p</string>
		<string>paragraph</string>
		<string>paragraph.tab</string>
		<string>parenleft</string>
		<string>parenleft.sc</string>
		<string>parenright</string>
		<string>parenright.sc</string>
		<string>partialdiff</string>
		<string>percent</string>
		<string>percent.tab</string>
		<string>period.tab</string>
		<string>periodcentered.tab</string>
		<string>perthousand</string>
		<string>pi</string>
		<string>plus</string>
		<string>plus.tab</string>
		<string>plusminus</string>
		<string>plusminus.tab</string>
		<string>product</string>
		<string>q</string>
		<string>question</string>
		<string>questiondown</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>quotedbl.tab</string>
		<string>quotedblbase</string>
		<string>quoteright</string>
		<string>quotedblleft</string>
		<string>quoteleft</string>
		<string>quotedblright</string>
		<string>quotesinglbase</string>
		<string>quotesingle.tab</string>
		<string>r</string>
		<string>racute</string>
		<string>radical</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
		<string>rdblgrave</string>
		<string>rdotbelow</string>
		<string>registered</string>
		<string>rinvertedbreve</string>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>schwa</string>
		<string>scircumflex</string>
		<string>sdotbelow</string>
		<string>section</string>
		<string>section.tab</string>
		<string>semicolon</string>
		<string>semicolon.tab</string>
		<string>servicemark</string>
		<string>seven</string>
		<string>seven.denominator</string>
		<string>seven.numerator</string>
		<string>seven.osf</string>
		<string>seven.tf</string>
		<string>seven.tosf</string>
		<string>seveneighths</string>
		<string>seveninferior</string>
		<string>sevensuperior</string>
		<string>six.denominator</string>
		<string>six.numerator</string>
		<string>six.tf</string>
		<string>six.tosf</string>
		<string>sixinferior</string>
		<string>sixsuperior</string>
		<string>slash</string>
		<string>slash.tab</string>
		<string>space</string>
		<string>space.tab</string>
		<string>sterling</string>
		<string>sterling.tab</string>
		<string>summation</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>tdotbelow</string>
		<string>thorn</string>
		<string>three</string>
		<string>three.numerator</string>
		<string>three.osf</string>
		<string>three.tf</string>
		<string>three.tosf</string>
		<string>threeeighths</string>
		<string>threeinferior</string>
		<string>threequarters</string>
		<string>threesuperior</string>
		<string>trademark</string>
		<string>two</string>
		<string>two.numerator</string>
		<string>two.osf</string>
		<string>two.tf</string>
		<string>two.tosf</string>
		<string>twoinferior</string>
		<string>twosuperior</string>
		<string>twothirds</string>
		<string>u</string>
		<string>uacute</string>
		<string>ubreve</string>
		<string>ucircumflex</string>
		<string>udblgrave</string>
		<string>udieresis</string>
		<string>udotbelow</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>uinvertedbreve</string>
		<string>umacron</string>
		<string>underscore</string>
		<string>underscore.tab</string>
		<string>uni00A0</string>
		<string>uni00AD</string>
		<string>uni015E</string>
		<string>uni015E.sc</string>
		<string>uni015F</string>
		<string>uni0162</string>
		<string>uni0162.sc</string>
		<string>uni0163</string>
		<string>uni01C4</string>
		<string>uni01C5</string>
		<string>z</string>
		<string>uni01C6</string>
		<string>uni01C7</string>
		<string>uni01C8</string>
		<string>uni01C9</string>
		<string>uni01CA</string>
		<string>uni01CB</string>
		<string>uni01CC</string>
		<string>uni01F1</string>
		<string>uni01F2</string>
		<string>uni01F3</string>
		<string>uni0218</string>
		<string>uni0218.sc</string>
		<string>uni0219</string>
		<string>uni021A</string>
		<string>uni021A.sc</string>
		<string>uni021B</string>
		<string>uni02C9</string>
		<string>uni0394</string>
		<string>uni03A9</string>
		<string>uni03BC</string>
		<string>uni20A6</string>
		<string>uni20A9</string>
		<string>uni20B9</string>
		<string>uni20BA</string>
		<string>uni2113</string>
		<string>uni2116</string>
		<string>uni2215</string>
		<string>uni2219</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
		<string>v</string>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>x</string>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>yen</string>
		<string>yen.tab</string>
		<string>ygrave</string>
		<string>ytilde</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>zdotbelow</string>
		<string>zero</string>
		<string>zero.denominator</string>
		<string>zero.numerator</string>
		<string>zero.osf</string>
		<string>zero.tf</string>
		<string>zero.tosf</string>
		<string>zeroinferior</string>
		<string>zerosuperior</string>
	</array>
</dict>
</plist>
