<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UFOFormat</key>
	<integer>2</integer>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<false/>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>3A4DCE86-3DFD-4847-A4B1-251D2879C8AA</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<false/>
	<key>com.schriftgestaltung.useNiceNames</key>
	<false/>
	<key>public.glyphOrder</key>
	<array>
		<string>A</string>
		<string>AE</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>Eth</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>Hbar</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>Lslash</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>Ohorn</string>
		<string>Oslash</string>
		<string>OE</string>
		<string>P</string>
		<string>Thorn</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>Germandbls</string>
		<string>Schwa</string>
		<string>T</string>
		<string>Tbar</string>
		<string>U</string>
		<string>Uhorn</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>a</string>
		<string>o</string>
		<string>zero.tf</string>
		<string>one.tf</string>
		<string>two.tf</string>
		<string>three.tf</string>
		<string>four.tf</string>
		<string>five.tf</string>
		<string>six.tf</string>
		<string>seven.tf</string>
		<string>eight.tf</string>
		<string>nine.tf</string>
		<string>space</string>
		<string>.notdef</string>
		<string>ampersand</string>
		<string>slashshortcomb</string>
		<string>strokeshortcomb.D</string>
		<string>strokeshortcomb.case</string>
		<string>strokelongcomb.case</string>
		<string>slashshortcomb.case</string>
		<string>strokeshortcomb.d</string>
		<string>strokeshortcomb.h</string>
		<string>strokeshortcomb.t</string>
		<string>slashcomb.case</string>
		<string>slashcomb</string>
	</array>
</dict>
</plist>
